<div class="field">
   <%= f.label :adults_number %><br>
   <%= f.number_field :adults_number %>
</div>
<div class="field">
   <%= f.label :children_number %><br>
   <%= f.number_field :children_number %>
</div>
<div class="field">
   <%= f.label :dates %>
   <div class="input-daterange input-group" id="datepicker">
      <%= f.text_field :beginning, class: "input-sm form-control" %>
      <span class="input-group-addon">to</span>
      <%= f.text_field :end, class: "input-sm form-control" %>
   </div>
</div>

<%= javascript_tag do %>
   var rooms_class = '<%= @rooms.class %>'
<% end %>
