%p#notice= notice

.jumbotron
   .container
      .title
         %h1 Hostel Centrum

.container
   .row
      .col-md-4
         %span.glyphicon.glyphicon-road{"aria-hidden" => true}
         %h3= t 'welcome.tours.title'
         %p= t 'welcome.tours.p'
      .col-md-4
         %span.glyphicon.glyphicon-camera{"aria-hidden" => true}
         %h3= t 'welcome.sightseening.title'
         %p= t 'welcome.sightseening.p'
      .col-md-4
         %span.glyphicon.glyphicon-glass{"aria-hidden" => true}
         %h3= t 'welcome.nightlife.title' 
         %p= t 'welcome.nightlife.p'

