<div class="field">
   <%= f.label :first_name %><br>
   <%= f.text_field :first_name %>
</div>
<div class="field">
   <%= f.label :surname %><br>
   <%= f.text_field :surname %>
</div>
<div class='field'>
   <%= f.label :email_adress %><br>
   <%= f.text_field :email_adress %>
</div>
<div class='field'>
   <%= f.label :phone_number %><br>
   +<%= f.text_field :phone_number %>
</div>
