- @rooms.each do |room| 
   .row.field
      .col-md-4
         = image_tag "xd2.jpg"
      .col-md-3
         %p
            Price per adult in PLN: 
            = room.price_per_adult
            %br
            %br
            Price per child in PLN:
            = room.price_per_child
      .col-md-3
         %p
            Price for you:
            = @reservation.adults_number * room.price_per_adult + @reservation.children_number.to_i * room.price_per_child
      .col-md-2
         = f.label "room #{room.room_number}"
         = f.radio_button :room_id, "#{room.id}"

