%nav.navbar.navbar-default
   .container-fluid
      .navbar-header
         %button.navbar-toggle{'type'=>'button', 'data-toggle'=>'collapse', 'data-target'=>'#myNavbar'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
         = link_to 'Hostel Cheapsy', '/', class: 'navbar-brand'
      .collapse.navbar-collapse#myNavbar
         %ul.nav.navbar-nav
            %li.rooms= link_to 'Rooms', rooms_path
            %li.reservations= link_to 'Reservations', new_reservation_path
            %li.contact= link_to 'Contact us', contact_path
            - if current_user
               %li.logout= link_to 'Logout', :logout, method: :post
            - else
               %li.user= link_to 'Login', :login
         %ul.nav.navbar-nav.navbar-right
            %li.dropdown
               %a.dropdown-toggle{'href'=>'#', 'data-toggle'=>'dropdown', 'role'=>'button', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'} 
                  Language
                  %span.caret
               %ul.dropdown-menu
                  %li
                     %a{'href'=>'#'} FR
                  %li
                     %a{'href'=>'#'} IT
                  %li
                     %a{'href'=>'#'} 
                        PL
                        %span.glyphicon.glyphicon-flag{'aria-hidden'=>'true'}

