<nav class='navbar navbar-default'>
   <div class='container-fluid'>
      <div class='navbar-header'>
         <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
         </button>
         <%= link_to 'Hostel Centrum', '/', class: 'navbar-brand' %>
      </div>
      <div class='collapse navbar-collapse' id='myNavbar'>
         <ul class='nav navbar-nav'>
            <li class='rooms'><%= link_to 'Rooms', rooms_path %></li>
            <li class='reservations'><%= link_to 'Reservations', new_reservation_path %></li>
            <li class='contact'><%= link_to 'Contact us', contact_path %></li>
           <% if current_user %>
            <li class='logout'><%= link_to 'Logout', :logout, method: :post %></li>
           <% else %>
            <li class='user'><%= link_to 'Login', :login %></li>
           <% end %>
         </ul>
      </div>
   </div>
</nav>

